* {
    box-sizing: border-box;
}


/*Start Main Rulez */

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F8F8F8;
    line-height: 1.5;
    color: #555;
    font-size: 12px;
}

.content>.container {
    width: 70%;
    margin-left: 20%;
    float: left;
    margin-top: 2%
}

.clearfix {
    clear: both;
}


/*End Main Rulez */


/* Start Header */

.header {
    width: 100%;
    height: 10%;
}

.header .address {
    float: left;
    margin-left: 4%;
}

.header .target {
    float: right;
    font-size: 12px;
    margin-left: -20%;
    width: 15%;
}


/* End Header */


/* Start Deparment */

.content .department {
    position: absolute;
    float: left;
    width: 15%;
    border-right: 2px solid #CFCFCF;
    height: 75%;
    overflow: hidden;
    margin-top: 7%
}

.department ul {
    list-style-type: none;
}

.department ul li a:hover {
    background-color: rgb(16, 27, 92);
    width: 100px;
    height: 100px;
    color: white;
}

.department ul li a {
    padding: 3px;
}

.department ul li {
    padding-bottom: 2%;
}


/* End Deparment */


/* Start details */

.content .details {
    width: 80%;
    margin-left: 20%;
}

.content .details button {
    padding: 1px 25px 1px 25px
}

.content .details .option {
    position: absolute;
    background-color: #55545411;
    left: 15%;
    width: 85%;
    height: 50px;
    margin-top: 33%;
}

.content .details .option .opt {
    float: right;
    margin-top: 1%;
    margin-right: 10%;
}

.content .details .par {
    /* margin-left: 1%; */
    margin-left: 4%;
    font-size: 13px;
    margin-top: 10%;
}


/***********************************************************************/

.content .details span {
    margin-left: 4%;
    font-size: 13px;
}

.content .details li {
    margin-left: 3%;
}

.content .details p {
    margin-left: 4%;
    font-size: 13px;
}

.content .details a {
    margin-left: 4%;
    font-size: 13px;
}

.content .details .more-info {
    margin-top: 21%;
    margin-left: 5%;
}

.content .details .more-info a {
    text-decoration: none;
}

.content .details .more-info a:hover {
    border: dotted;
}


/* End details */