{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>ADLDS</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p>
            Organizations that have applications which require a directory for storing application data can use Active Directory Lightweight Directory Services (AD LDS) as the data store. AD LDS runs as a non-operating-system service, and, as such, it does not require
            deployment on a domain controller. Running as a non-operating-system service allows multiple instances of AD LDS to run concurrently on a single server, and each instance can be configured independently for servicing multiple applications
        </p>

        <br>
        <span>Things to notes :</span>
        <ul>
            <li>Alter installing AD LDS, instances of AD LDS can be created by launching the AD LDS Setup Wizard from the Advanced Tools section of the AD LOS home page.</li>
            <li>Before removing the AD LDS role, you must use Programs and Features in Control Panel to remove all previously installed AD LDS instances .</li>
        </ul>
    </div>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button> &lt; Previous </button>
                <button> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button disabled>Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
{% endblock %}