{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>ADLDS</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsum laboriosam voluptatem repudiandae consectetur facere unde similique. Cupiditate, tempora ex beatae assumenda eligendi numquam tempore alias voluptatibus minus quae ipsam. tempora
            ex beatae assumenda eligendi numquam tempore alias voluptatibus minus quae ipsam. tempora ex beatae assumenda eligendi numquam tempore alias voluptatibus minus quae ipsam.
        </p>

        <br>
        <span>Things to notes :</span>
        <ul>
            <li>fsafafa</li>
            <li>safafafa</li>
        </ul>
    </div>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button> &lt; Previous </button>
                <button> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button disabled>Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
{% endblock %}