{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>Before you begin</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p class="par">This wizard helps you install roles, role services, or features. You determine which roles, role services, or features to install based on the computing needs of your organization, such as sharing documents or hosting a website. </p>

        <br>
        <span>Before you continue, verify that the following tasks have been completed:</span>
        <ul>
            <li>The Administrator account has a strong password</li>
            <li>Network settings, such as static IP addresses, are configured</li>
            <li>The most current security updates from Windows Update are installed</li>
        </ul>
        <p>If you must verify that any of the preceding prerequisites have been completed, close the wizard, complete the steps, and then run the wizard again.</p>
        <a>To continue, click Next.</a>
        <br><br><br><br><br><br><br>
        <div class="more-info">
            <input type="checkbox"> Skip this page by default
        </div>

    </div>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button disabled> &lt; Previous </button>
                <button> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button disabled>Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->

{% endblock %}