{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>Confirmation</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p class="par"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsum laboriosam voluptatem
        </p>
        <br>
        <input type="checkbox"> Restart the destination
        <br>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae sint cum consequatur laboriosam alias nesciunt fuga fugit ipsam explicabo deserunt, similique optio distinctio esse, aliquid, quos itaque. Quod, repudiandae commodi?
        </p>
        <div class="info">
            <p>Active Directory Lightweight Directory Services </p>
            <p>DNS Server </p>
            <p>Remote Server Administration Tools </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; Role Administration Tools </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; AD DS and AD LDS Tools </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Active Directorey moedern </p>
        </div>
        <div class="more-info">
            <a href="#">Export Configureation Setting </a> <br>
            <a href="#">Specify an alternate source path</a>
        </div>

    </div>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button> &lt; Previous </button>
                <button disabled> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button type="submit" name="submit_button" value="Do_Something">Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
{% endblock %}