{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>DNSServer</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p>
            Domain Name System (DNS) provides a standard method for associating names with numeric Internet addresses This makes it possible for users to refer to network computers by using easy-to-remember names instead of a long series of numbers . In addition,
            DNS provides a hierarchical namespace, ensuring that each host name will be unique across a local or wide-area network. Windows DNS services can be integrated with Dynamic Host Configuration Protocol (DHCP) services on Windows, eliminating
            the need to add DNS records as computers are added to the network.
        </p>

        <br>
        <span>Things to notes :</span>
        <ul>
            <li>DNS server integration with Active Directory Domain Services automatically replicates DNS data along with other Directory Service data making it easier to manage DNS.</li>
            <li>
                Active Directory Domain Services requires a DNS server to be installed on the network. If you are installing a domain controller you can also install the DNS Server role using Active Directory Domain Services Installation Wizard by selecting the Active
                Directory Domain Services role.
            </li>
        </ul>
    </div>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button> &lt; Previous </button>
                <button> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button disabled>Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
{% endblock %}