{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>DNSServer</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem ipsum laboriosam voluptatem repudiandae consectetur facere unde similique. Cupiditate, tempora ex beatae assumenda eligendi numquam tempore alias voluptatibus minus quae ipsam. tempora
            ex beatae assumenda eligendi numquam tempore alias voluptatibus minus quae ipsam. tempora ex beatae assumenda eligendi numquam tempore alias voluptatibus minus quae ipsam. tempora ex beatae assumenda eligendi
        </p>

        <br>
        <span>Things to notes :</span>
        <ul>
            <li>fsafafa</li>
            <li>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, omnis nisi reprehenderit soluta perspiciatis tempore facilis earum nihil. Odio cupiditate in sint minima similique explicabo quae et eveniet magni nobis.
            </li>
        </ul>
    </div>
</div>
{% endblock %}