{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>InstallationType</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p class="par">Select the installation type. You can install roles and features on a running physical computer or virtual machine, or on an offline virtual hard disk (VHD).</p>
        <input type="radio" checked><b> Role-based or feature-based installation </b><br>
        <p> Configure a single server by adding roles, role services, and features. </p>
        <input type="radio"><b> Remote Desktop Services installation </b><br>
        <p> Install required role services for Virtual Desktop Infrastructure (VDI) to create a virtual machine-based or session-based desktop deployment. </p>
    </div>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button> &lt; Previous </button>
                <button> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button disabled>Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
{% endblock %}