{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>InstallationType</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p class="par"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>

        <input type="radio" checked> Role-based or feature-based instalatition <br>
        <p>Configure Configure Configure Configure</p>
        <input type="radio"> Remote desktop Service instalatition <br>
        <p>Configure Configure Configure Configure Configure Configure Configure Configure</p>



    </div>
</div>
{% endblock %}