{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>ServerRoles</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p class="par"> Select one or more roles to install on the selected server. </p>

        <p><b>Roles</b></p>

        <div class="desc-info">
            <P><b>Description</b></P>
            <p>
                Active Directory Domain Services (AD DS) stores information about objects on the network and makes this information available to users and network administrators. AD DS uses domain controllers to give network users access to permitted resources anywhere
                on the network through a single logon process. </p>
        </div>

    </div>
    <div class="info">
        <input type="checkbox"> Active Directory Certificate Services <br>
        <input type="checkbox"> Active Directory Domain Services <br>
        <input type="checkbox"> Active Directory Federation Services <br>
        <input type="checkbox"> Active Directory Lightweight Directory Services <br>
        <input type="checkbox"> Active Directory Rights Management Services <br>
        <input type="checkbox"> Application Server <br>
        <input type="checkbox"> DHCP Server <br>
        <input type="checkbox"> DNS Server <br>
        <input type="checkbox"> Fax Server <br>
        <input type="checkbox"> File and Storage Services (1 of 12 installed) <br>
        <input type="checkbox"> Hyper-V <br>
        <input type="checkbox"> Network Policy and Access Services <br>
        <input type="checkbox"> Print and Document Services <br>
        <input type="checkbox"> Remote Access <br>
        <input type="checkbox"> Remote Desktop Services <br>
        <input type="checkbox"> Volume Activation Services <br>
        <input type="checkbox"> Web Server (IIS) <br>
        <input type="checkbox"> Windows Deployment Services <br>
        <input type="checkbox"> Windows Server Essentials Experience <br>
        <input type="checkbox"> Windows Server Update Services <br>

    </div>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button> &lt; Previous </button>
                <button> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button disabled>Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
{% endblock %}