{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>ServerRoles</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p class="par"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>

        <p><b>Roles</b></p>

        <div class="desc-info">
            <P><b>Description</b></P>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos tempore eum dolor rem exercitationem fugit, error, vitae placeat earum cupiditate quis blanditiis, minima impedit ullam quod quos! Quas, deleniti architecto! placeat earum cupiditate quis blanditiis,
            </p>
        </div>

    </div>
    <div class="info">
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>
        <input type="checkbox"> Active Directory <br>

    </div>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button> &lt; Previous </button>
                <button> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button disabled>Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
{% endblock %}