{% extends "AddRolesandFeturesWizard/baseLayout1.html" %}

<head>
    <title>ServerSelection</title>
</head>
{% block content %}

<div class="container">
    <div class="desc">
        <p class="par">Select a server from the server pool O Select a virtual hard disk </p>
    </div>
    <input type="radio" checked> Select a server from the server pool <br>
    <input type="radio"> Select a virtual hard disk <br>
    <p>Server Pool</p>
    <br>
    <p>1 Computer(s) found</p>
    <p>This page shows servers that are running Windows Server 2012 or a newer release of Windows Server, and that have been added by using the Add Servers command in Server Manager. Offline servers and newly-added servers from which data collection is still
        incomplete are not shown.</p>
</div>

<!-- Footer -->
<div class="details">
    <div class="container">
        <div class="option">
            <div class="opt">
                <button> &lt; Previous </button>
                <button> Next &gt;</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                <button disabled>Install</button>
                <button>Cancell</button>
            </div>
        </div>
    </div>
</div>
<!-- End Footer -->
{% endblock %}