{% extends "/baseLayout/baseLayout.html" %} {% block content %}
<!-- Start Content -->

<head>
    <title>Local Server</title>
</head>
<div class="about-me">
    <div class="container">

        <div class="department">
            <div class="dept">
                <ul>
                    <li><i class="fa fa-list-alt" aria-hidden="true" style="padding-right: 7px;"></i>
                        <a href="/">Dashboard</a></li>
                    <li><i class="fa fa-server" aria-hidden="true" style="padding-right: 7px;"></i>
                        <a href="/ServerManager/LocalServer">Local Server</a></li>
                    <li><i class="fa fa-list" aria-hidden="true" style="padding-right: 7px;"></i>
                        <a href="#">All Server</a></li>
                    <li><i class="fa fa-file" aria-hidden="true" style="padding-right: 7px;"></i>
                        <a href="#">File and Storage Services</a></li>
                </ul>


            </div>


        </div>

    </div>

    <div class="info">
        <div class="icon-info"><img src="/static/images/55.png"></div>
        <h2>Properties</h2>
        <p>for {{hostname}}</p>

        <!-- Start Properties -->
        <div class="properties">
            <div class="prop-1">
                <!-- Start Content -->

                <div class="prop-names">
                    <ul>
                        <li>Computer Name</a>
                        </li>
                        <li>Domain</li>

                    </ul>

                    <br><br><br><br>
                    <ul>
                        <li>Windows Firewall</li>
                        <li>Remote Managemnet</li>
                        <li>Remote Desktop</li>
                        <li>NIC Teaming</li>
                        <li>Ethetnet</li>
                    </ul>

                    <br><br>
                    <ul>
                        <li>OS Version</li>
                        <li>Hardware Information</li>
                    </ul>



                </div>

                <div class="prop-values">
                    <ul>
                        <li><a href="#">{{hostname}}</a></li>
                        <li>{{server_dn}}</li>
                    </ul>
                    <br><br><br><br>
                    <ul>
                        <li><a href="#">{{firewall_status}}</a></li>
                        <li><a href="#">{{rm_status}}</a></li>
                        <li><a href="#">{{rdp_status}}</a></li>
                        <li><a href="#">{{nict_status}}</a></li>
                        <li><a href="#">{{ip}}</a></li>
                    </ul>

                    <br><br>
                    <ul>
                        <li>{{osversion}}</li>
                        <li>{{hw_information}}</li>
                    </ul>

                </div>
                <!-- End Content -->
            </div>

            <div class="prop-2">

                <!-- Start Content2 -->

                <div class="prop-names">
                    <ul>
                        <li>Last Installed Updates</li>
                        <li>Windows Update</li>
                    </ul>

                    <br><br><br><br>
                    <ul>
                        <li>Last Chek for Update</li>
                        <li>Customer Experince Improvemnetn Program</li>
                        <li>IE enhanced securty configration</li>
                        <li>Time Zone</li>

                    </ul>

                    <br><br>
                    <ul>
                        <li>Processors</li>
                        <li>Installed Memory</li>
                        <li>Total dsik space</li>
                    </ul>

                </div>

                <div class="prop-values">
                    <ul>
                        <li><a href="#">{{li_updates}}</a></li>
                        <li><a href="#">Off</a></li>
                    </ul>
                    <br><br><br><br>
                    <ul>
                        <li><a href="#">{{lc_updates}}</a></li>
                        <li><a href="#">{{error_reporting_status}}</a></li>
                        <li><a href="#">{{ceip_status}}</a></li>
                        <li><a href="#">On</a></li>
                        <li>{{timezone}}</li>
                    </ul>

                    <br><br>
                    <ul>
                        <li>{{cpu}}</li>
                        <li>{{ram}} G</li>
                        <li>{{disk}} G</li>
                    </ul>

                </div>
                <!-- End Content2 -->

            </div>
            <!-- End Properties -->

        </div>
    </div>

</div>
<!-- End Content -->
{% endblock %}