{% extends "ActiveDirectoryDomainServicesConfigurationWizard/baseLayout3.html" %}

<head>
    <title>Paths</title>
</head>
{% block content %}
<div class="container">
    <div class="desc">
        <p> Specify the location of the AD DS database ,log files ,and SYSVOL </p>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Database folder: &nbsp;&nbsp; <input type="text" value="C:\ Windows\ NTDS">
    <button>...</button> <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; log files folder: &nbsp;&nbsp; &nbsp;&nbsp; <input type="text" value="C:\ Windows\ NTDS">
    <button>...</button><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SYSVOL folder: &nbsp;&nbsp;&nbsp; <input type="text" value="C:\ Windows\ SYSVOL">
    <button>...</button>
</div>
{% endblock %}